@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Piedra&display=swap');


.Grid{
    display: grid;
    grid-template-columns: 50% 50%;
}


#cityhoopz {
    text-align:center;
    font-family: "Architects Daughter";
}


#logo { 
    width: 100%;
    height: 100%;
}


/* .left{
    grid-column-start: 1;
} */

 .right{
   height: 100% ;
   width: 100%;
   align-self: center;
} 